emergencia-container {
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat;
  padding: 100px 20px; 
  text-align: center; 
  color: #183b4e; 
  min-height: 90vh; /
}