#botbar {
    margin-top: 0;
    width: 100vw;
    display: inline-flex;
    background-color: #183B4E;
    height: 100px;
  }
  
  .center-buttons {
    display: flex;
    margin-right: auto;
    margin-left: auto;
  }
  
  .center-buttons button {
    height: 100%;
    background-color: #183B4E;
    color: white;
    border: none;
    font-size: large;
    transition: background 0.5s ease-in-out;
  }
  
  .center-buttons button:hover {
    background-color: #2e7399;
  }
  
  .buttons {
    width: 15rem;
  }  