.pagina-tubaroes {
  padding: 10px;
  font-family: 'Roboto', sans-serif;
  max-width: 100%;
  box-sizing: border-box;
}

.pagina-tubaroes h1 {
  font-size: 3.5em;
  color: #183B4E;
  margin-bottom: 40px;
  text-align: left;
}

.secao-tubaroes {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 40px;
}

.imagem-e-texto {
  display: flex;
  width: 100%;
  gap: 40px;
  align-items: flex-start;
}

.imagem-e-texto .imagem {
  width: 50%;
  display: flex;
}

.imagem-e-texto img {
  width: 100%;
  height: auto; 
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.15);
}

.imagem-e-texto .texto {
  width: 40%;
  font-size: 1.2em !important;
  line-height: 1.6;
  color: #333 !important;
  text-align: left;
  flex: 1;
  margin-top: auto;
  margin-bottom: auto;
}

#texto{
  margin-bottom: 30px;
}

.botao-abaixo-texto {
  padding: 12px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1em;
  align-self: flex-start;
}

@media (max-width: 768px) {
  .imagem-e-texto {
    flex-direction: column;
    gap: 20px;
  }

  .imagem-e-texto .imagem,
  .imagem-e-texto .texto {
    width: 100%;
    padding: 0;
  } */

  .imagem-e-texto .texto {
    font-size: 1.2em;
    text-align: center;
    line-height: 1.6;
  }

   .botao-abaixo-texto {
    align-self: flex-start;
    margin-top: 30px;

  } 

   .texto-e-botao {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-size: 1.2em;
  line-height: 1.6;
  color: #333; 
} 

  #texto{
    width: 100%;
    font-size: 1.0em;
  }

  #botao{
    margin-left: 35%;
  }
}
