.pagina-tubaroes {
  padding: 20px;
  font-family: 'Roboto', sans-serif;
}

.pagina-tubaroes h1 {
  font-size: 3.5em;
  color: #183B4E;
  margin-bottom: 30px;
  text-align: left;
}

.secao-tubaroes {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 40px;
}

.imagem-e-texto {
  display: flex;
  align-items: flex-start;
  width: 100%;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.imagem-e-texto img {
  max-width: 40%;
  height: auto;
  border-radius: 8px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
  margin-right: 20px;
}

.imagem-e-texto p {
  font-size: 1.2em;
  line-height: 1.6;
  color: #333;
  flex: 1;
  text-align: left;
}

.botao-abaixo-texto {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  margin-top: 20px;
  align-self: flex-start;
}


@media (max-width: 768px) {
  .imagem-e-texto {
    flex-direction: column;
    align-items: center;
  }

  .imagem-e-texto img {
    max-width: 90%;
    margin-right: 0;
    margin-bottom: 15px;
  }

  .imagem-e-texto p {
    text-align: center;
  }

  .botao-abaixo-texto {
    align-self: center;
    margin-top: 10px;
  }
}


@media (min-width: 769px) {
  .botao-abaixo-texto {
    align-self: flex-start;
  }
}
